.world-champions-wrapper {
    font-size: $font-size-base;
    width: 60%;
    margin: 50px auto;
    border-collapse: collapse;

    #world-champions-title {
        margin-bottom: 20px;
        font-size: $font-size-title;
    }
    .world-champions-listing > .headings .heading {
        background: $champion-primary-color;
        color: white;
    }
    .world-champions-listing > .champions {
        .table-row > div {
            border: 1px solid $champion-primary-color;
        }
    }
}

.champions-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .world-champions-wrapper {
        font-size: $font-size-small;
        width: 80%;
    }
}