//
// Variables
// -----------------------

// Brand Colors
// -----------------------

$champion-primary-color: goldenrod;
$champion-secondary-color: gold;

$winner-primary-color: green;

$background-primary-color: white;

$error-color: crimson;

$shadow-color: #aaa;

// Typography
// -----------------------

$font-family-sans-serif: "Helvetica", sans-serif;

$font-size-base: 14px !default;
$font-size-small: 8px !default;

$font-size-title: 22px !default;
