body {
    font-family: $font-family-sans-serif;
}

.headings {
    display: flex;
    .heading {
        flex: 1 0;
        box-sizing: border-box;
        padding: 10px;
        text-align: left;
    }
}

.table-row {
    display: flex;
    :hover {
        cursor: pointer;
    }
}

.table-row > div {
    flex: 1 0;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    min-width: 100px;
}

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: $font-size-title;
    color: $error-color;
}

.refresh-button {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
