@import "../styles/variables";

.error {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: $font-size-title;
    color: $error-color;
}

.refresh-button {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}
