.season-winners-wrapper {
    font-size: $font-size-base;
    margin: 15px;

    #season-winners-title {
        padding-bottom: 10px;
        font-weight: bold;
    }
    .season-winners-listing {
        border-collapse: collapse;
        box-shadow: 0 0 15px $shadow-color;
    }
    .season-winners-listing > .headings .heading {
        background: $winner-primary-color;
        color: white;
    }
    .season-winners-listing > .winners {
        .table-row > div {
            border: 1px solid $winner-primary-color;
        }
        .table-row.champion-highlight {
            background-color: $champion-secondary-color;
            color: $winner-primary-color;
        }
    }
}

.winners-loader {
    text-align: center;
}
