.season-winners-wrapper {
    .season-winners-title {
        margin: 15px;
        font-weight: bold;
    }
    .season-winners-listing {
        font-family: "Helvetica", sans-serif;
        border-collapse: collapse;
        margin: 15px;
        box-shadow: 0 0 15px #aaa;
        font-size: 14px;
    }
    .season-winners-listing > .headings {
        display: flex;
        .heading {
            flex: 1 0;
            box-sizing: border-box;
            background: green;
            color: white;
            padding: 10px;
            text-align: left;
        }
    }
    .season-winners-listing > .winners {
        .winner-row {
            display: flex;
        }
        .winner-row.champion-highlight {
            background-color: gold;
            color: green;
        }
        .winner-row > div {
            flex: 1 0;
            box-sizing: border-box;
            padding: 10px;
            text-align: left;
            border: 1px solid green;
        }
    }
}

.winners-loader {
    text-align: center;
}
