@import "../../styles/variables";

.season-winners-wrapper {
    .season-winners-title {
        margin: 15px;
        font-weight: bold;
        font-size: $font-size-base;
    }
    .season-winners-listing {
        font-family: $font-family-sans-serif;
        border-collapse: collapse;
        margin: 15px;
        box-shadow: 0 0 15px $shadow-color;
        font-size: $font-size-base;
    }
    .season-winners-listing > .headings {
        display: flex;
        .heading {
            flex: 1 0;
            box-sizing: border-box;
            background: $winner-primary-color;
            color: white;
            padding: 10px;
            text-align: left;
        }
    }
    .season-winners-listing > .winners {
        .winner-row {
            display: flex;
        }
        .winner-row.champion-highlight {
            background-color: $champion-secondary-color;
            color: $winner-primary-color;
        }
        .winner-row > div {
            flex: 1 0;
            box-sizing: border-box;
            padding: 10px;
            text-align: left;
            border: 1px solid $winner-primary-color;
        }
    }
}

.winners-loader {
    text-align: center;
}
